.container {
    display: flex;;
    flex-direction: column;
}

.item {
    height: 60px !important;
}

.joke {
  background: #ddd;
  color: #333;
  display: flex;
  line-height: 4em;
  padding: 0 1em;
  position: relative;
  text-align: center;
}

    

